.monthly-stats {
    margin: auto;
}
.monthly-stats span, .monthly-stats input,  
.monthly-stats select, .monthly-stats .form-group,
.monthly-stats .btn {
    float: left;
    width: auto;
    padding: 5px;
}

.monthly-stats .btn, .monthly-stats span {
    height: 37px;
    margin-left: 5px;
}

.title {
    text-align: center;
    padding: 30px;
}